*{
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	margin:auto;
	padding:auto;
}

html{
	font-size: 15px;	
}

body {
	background-repeat: no-repeat;
	background-color:#8BC541;

	
}

.rich-panel-header {
	font-size: 24px;
	font-weight:normal;
	background-image: none;
	background-color: #fff;
	margin-top:30px;
	text-align:left;
	border: none;
	color:#6c9c34;
}

.rich-panel{
	width:1100px;
	font-size: 15px;
	background:#fff; /*url(../images/topo.png) no-repeat;*/
	padding:50px 2.857142857rem;
	margin-top:3.428571429rem;
	border-radius:20px;
	border:none;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	min-height:300px;
}
.rich-messages-marker img {
	padding-right: 7px;
}

.top {
	vertical-align: top;
}

rich-message-label {
	padding: 0px 10px;
}

.rich-messages-label {
	padding: 0px 10px
}

.rich-message-marker {
	
}

.rich-message {
	
}

.errorLabel {
	color: red;
	font-size: 20px;
}

.infoLabel {
	color: green;
	font-size: 20px;
}

input[type="text"] {
	text-transform: uppercase;
	padding:5px 10px 5px 10px;
}

input[type="password"] {
	padding:5px 10px 5px 10px;
}

input[type="button"]{
	padding:5px 10px 5px 10px;
	border-radius:5px;
}

select {
	text-transform: uppercase;
}

.rich-table-cell {
	text-transform: uppercase;
}

.maiusculo {
	text-transform: uppercase;
}

.negrito {
	font-weight: bold;
}

.form {
	font-weight: bold;
	font-size: 20px;
}
