<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
			
		<property name="hibernate.connection.url">jdbc:mysql://172.19.10.188:3306/sisrem</property>
		<property name="hibernate.connection.username">jefferson</property>
		<property name="hibernate.connection.password">1234</property>
		
		<property name="hibernate.connection.autoReconnect">true</property>
		<property name="pool_size">1</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="show_sql">false</property>
		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property>
		<property name="hibernate.generate_statistics">false</property>
		<property name="hibernate.use_sql_comments">false</property>
		<property name="hibernate.cache.use_query_cache">false</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		
		<mapping resource="duvida.hbm.xml" />
		<mapping resource="intencao.hbm.xml" />
		<mapping resource="usuario.hbm.xml" />
		
	</session-factory>
</hibernate-configuration>